* {
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  font-size: 14px;
}

/* mobile size */
@media (max-width: 440px) {
  .show_desktop {
    display: none;
  }
  .show_mobile {
    display: initial;
  }
}

/* desktop size */
@media (min-width: 440.2px) {
  .show_desktop {
    display: initial;
  }
  .show_mobile {
    display: none;
  }
}


.v103_353 {
  width: 1440px;
  height: 3072px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v103_354 {
  width: 100%;
  height: 831px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 1476px;
  left: 0px;
  overflow: hidden;
}
.v103_355 {
  width: 410px;
  height: 209px;
  background: url("../images/v103_355.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1577px;
  left: 515px;
  overflow: hidden;
}
.v103_356 {
  width: 410px;
  height: 209px;
  background: url("../images/v103_356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1577px;
  left: 958px;
  overflow: hidden;
}
.v103_357 {
  width: 100%;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v103_358 {
  width: 100%;
  height: 618px;
  background: rgba(219,219,219,1);
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;

}
.v103_359 {
  width: 49px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 1367px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v103_360 {
  width: 47px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 1182px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v103_361 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 1245px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v103_362 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 1084px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v103_363 {
  width: 750px;
  height: 554px;
  background: url("../images/v103_363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 24px;
  overflow: hidden;
}
.v103_377 {
  width: 490px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 213px;
  left: 795px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v103_378 {
  width: 643px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 366px;
  left: 797px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_379 {
  width: 487px;
  height: 32px;
  background: rgba(155,155,155,1);
  opacity: 1;
  position: absolute;
  top: 432px;
  left: 798px;
  overflow: hidden;
}
.v103_380 {
  width: 88px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 437px;
  left: 1004px;
  font-family: Arial;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v103_382 {
  width: 750px;
  height: 411px;
  background: url("../images/v103_382.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 24px;
  overflow: hidden;
}
.v103_383 {
  width: 160px;
  height: 160px;
  background: url("../images/v103_383.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 814px;
  overflow: hidden;
}
.v103_384 {
  width: 160px;
  height: 160px;
  background: url("../images/v103_384.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1098px;
  left: 814px;
  overflow: hidden;
}
.v103_385 {
  width: 160px;
  height: 160px;
  background: url("../images/v103_385.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 906px;
  left: 814px;
  overflow: hidden;
}
.v103_394 {
  width: 149px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1131px;
  left: 990px;
  font-family: Times;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v103_395 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1162px;
  left: 990px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_396 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1206px;
  left: 990px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v103_399 {
  width: 529px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1158px;
  left: 24px;
  font-family: Times;
  font-weight: Bold;
  font-size: 37px;
  opacity: 1;
  text-align: left;
}
.v103_400 {
  width: 750px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1225px;
  left: 24px;
  font-family: Times;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v103_401 {
  width: 532px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1405px;
  left: 24px;
  font-family: Times;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v103_402 {
  width: 192px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1508px;
  left: 624px;
  font-family: Times;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v103_403 {
  width: 410px;
  height: 209px;
  background: url("../images/v103_403.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1577px;
  left: 72px;
  overflow: hidden;
}
.v103_404 {
  width: 410px;
  height: 209px;
  background: url("../images/v103_404.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1951px;
  left: 515px;
  overflow: hidden;
}
.v103_405 {
  width: 410px;
  height: 209px;
  background: url("../images/v103_405.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1951px;
  left: 958px;
  overflow: hidden;
}
.v103_406 {
  width: 154px;
  height: 18px;
  background: url("../images/v103_406.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 54px;
  overflow: hidden;
}
.v103_407 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Times;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_408 {
  width: 81px;
  color: rgba(216,216,216,1);
  position: absolute;
  top: 0px;
  left: 68px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_409 {
  width: 35px;
  height: 42px;
  background: url("../images/v103_409.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 19px;
  overflow: hidden;
}
.v103_411 {
  width: 411px;
  height: 114px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2161px;
  left: 72px;
  overflow: hidden;
}
.v103_412 {
  width: 411px;
  height: 114px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2161px;
  left: 515px;
  overflow: hidden;
}
.v103_413 {
  width: 410px;
  height: 114px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2161px;
  left: 958px;
  overflow: hidden;
}
.v103_414 {
  width: 411px;
  height: 132px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1787px;
  left: 515px;
  overflow: hidden;
}
.v103_519 {
  width: 411px;
  height: 132px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1787px;
  left: 72px;
  overflow: hidden;
}
.v103_415 {
  width: 410px;
  height: 133px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1786px;
  left: 958px;
  overflow: hidden;
}
.v103_421 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1803px;
  left: 88px;
  font-family: Times;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v103_422 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1833px;
  left: 88px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_423 {
  width: 361px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1859px;
  left: 88px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_429 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1803px;
  left: 531px;
  font-family: Times;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v103_430 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1833px;
  left: 531px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_431 {
  width: 361px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1859px;
  left: 531px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_437 {
  width: 55px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1802px;
  left: 974px;
  font-family: Times;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v103_438 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1832px;
  left: 974px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_439 {
  width: 360px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1858px;
  left: 974px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_445 {
  width: 39px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2177px;
  left: 88px;
  font-family: Times;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v103_446 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2207px;
  left: 88px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_447 {
  width: 361px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2233px;
  left: 88px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_453 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2177px;
  left: 974px;
  font-family: Times;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v103_454 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2207px;
  left: 974px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_455 {
  width: 361px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2233px;
  left: 974px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_461 {
  width: 69px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2177px;
  left: 531px;
  font-family: Times;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v103_462 {
  width: 73px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2207px;
  left: 531px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_463 {
  width: 361px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2233px;
  left: 531px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_466 {
  width: 410px;
  height: 209px;
  background: url("../images/v103_466.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1951px;
  left: 72px;
  overflow: hidden;
}
.v103_476 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 765px;
  left: 990px;
  font-family: Times;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v103_477 {
  width: 228px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 796px;
  left: 990px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_478 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 822px;
  left: 990px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v103_481 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 944px;
  left: 990px;
  font-family: Times;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v103_482 {
  width: 225px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 975px;
  left: 990px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_483 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1001px;
  left: 990px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v103_490 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2339px;
  left: 619px;
  font-family: Times;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v103_491 {
  width: 249px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2479px;
  left: 990px;
  font-family: Times;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v103_492 {
  width: 290px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2510px;
  left: 990px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_495 {
  width: 119px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2655px;
  left: 990px;
  font-family: Times;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v103_496 {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2686px;
  left: 990px;
  font-family: Times;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v103_497 {
  width: 750px;
  height: 422px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 2408px;
  left: 24px;
  overflow: hidden;
}
.v103_512 {
  width: 306px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2854px;
  left: 24px;
  font-family: Times;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v103_513 {
  width: 750px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2887px;
  left: 24px;
  font-family: Times;
  font-weight: Bold;
  font-size: 21px;
  opacity: 1;
  text-align: left;
}
.v103_514 {
  width: 229px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 3010px;
  left: 24px;
  font-family: Times;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v103_515 {
  width: 33px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 3010px;
  left: 1327px;
  font-family: Times;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v103_516 {
  width: 40px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 3010px;
  left: 1376px;
  font-family: Times;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
.v103_517 {
  width: 160px;
  height: 160px;
  background: url("../images/v103_517.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2424px;
  left: 814px;
  overflow: hidden;
}
.v103_518 {
  width: 160px;
  height: 160px;
  background: url("../images/v103_518.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2600px;
  left: 814px;
  overflow: hidden;
}
