* {
  box-sizing: border-box;
}
body {
  max-width: 428px;
  font-size: 14px;
}
.v105_164 {
  width: 428px;
  height: 2858px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v105_165 {
  width: 428px;
  height: 100%;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 696px;
  left: 0px;
  overflow: hidden;
}
.v105_166 {
  width: 100px;
  height: 100px;
  background: url("../images/v105_166.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 352px;
  left: 139px;
  overflow: hidden;
}
.v105_167 {
  width: 428px;
  height: 317px;
  background: url("../images/v105_167.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v105_168 {
  width: 396px;
  height: 187px;
  background: url("../images/v105_168.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1091px;
  left: 16px;
  overflow: hidden;
}
.v105_169 {
  width: 396px;
  height: 187px;
  background: url("../images/v105_169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1470px;
  left: 16px;
  overflow: hidden;
}
.v105_170 {
  width: 396px;
  height: 187px;
  background: url("../images/v105_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 712px;
  left: 16px;
  overflow: hidden;
}
.v105_171 {
  width: 428px;
  height: 315px;
  background: rgba(219,219,219,1);
  opacity: 1;
  position: absolute;
  top: 381px;
  left: 0px;
  overflow: hidden;
}
.v105_172 {
  width: 396px;
  height: 72px;
  background: rgba(219,219,219,1);
  opacity: 1;
  position: absolute;
  top: 1941px;
  left: 16px;
  overflow: hidden;
}
.v105_173 {
  width: 396px;
  height: 72px;
  background: rgba(219,219,219,1);
  opacity: 1;
  position: absolute;
  top: 2021px;
  left: 16px;
  overflow: hidden;
}
.v105_174 {
  width: 396px;
  height: 72px;
  background: rgba(219,219,219,1);
  opacity: 1;
  position: absolute;
  top: 2101px;
  left: 16px;
  overflow: hidden;
}
.v105_175 {
  width: 396px;
  height: 72px;
  background: rgba(219,219,219,1);
  opacity: 1;
  position: absolute;
  top: 2261px;
  left: 16px;
  overflow: hidden;
}
.v105_176 {
  width: 396px;
  height: 72px;
  background: rgba(219,219,219,1);
  opacity: 1;
  position: absolute;
  top: 2181px;
  left: 16px;
  overflow: hidden;
}
.v105_177 {
  width: 396px;
  height: 72px;
  background: rgba(219,219,219,1);
  opacity: 1;
  position: absolute;
  top: 2341px;
  left: 16px;
  overflow: hidden;
}
.v105_178 {
  width: 428px;
  height: 240px;
  background: rgba(219,219,219,1);
  opacity: 1;
  position: absolute;
  top: 2541px;
  left: 0px;
  overflow: hidden;
}
.v105_179 {
  width: 396px;
  height: 47px;
  background: rgba(155,155,155,1);
  opacity: 1;
  position: absolute;
  top: 617px;
  left: 16px;
  overflow: hidden;
}
.v105_180 {
  width: 262px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1689px;
  left: 32px;
  font-family: Times;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v105_181 {
  width: 313px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1731px;
  left: 32px;
  font-family: Times;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v105_182 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1785px;
  left: 32px;
  font-family: Times;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  text-decoration: none
}
.v105_189 {
  width: 213px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 931px;
  left: 32px;
  font-family: Times;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v105_190 {
  width: 285px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 973px;
  left: 32px;
  font-family: Times;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v105_191 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1004px;
  left: 32px;
  font-family: Times;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  text-decoration: none
}
.v105_192 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1310px;
  left: 32px;
  font-family: Times;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v105_193 {
  width: 282px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1352px;
  left: 32px;
  font-family: Times;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v105_194 {
  width: 88px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1383px;
  left: 32px;
  font-family: Times;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  text-decoration: none
}
.v105_213 {
  width: 266px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2477px;
  left: 85px;
  font-family: Times;
  font-weight: Bold;
  font-size: 42px;
  opacity: 1;
  text-align: left;
}
.v105_214 {
  width: 343px;
  color: rgba(112,112,112,1);
  position: absolute;
  top: 2821px;
  left: 16px;
  font-family: Times;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v105_215 {
  width: 35px;
  height: 42px;
  background: url("../images/v105_215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 40px;
  overflow: hidden;
}
.v105_216 {
  width: 38px;
  height: 38px;
  background: url("../images/v105_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 349px;
  overflow: hidden;
}
.v105_217 {
  width: 38px;
  height: 38px;
  background: url("../images/v105_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 141px;
  overflow: hidden;
}
.v105_218 {
  width: 38px;
  height: 35px;
  background: url("../images/v105_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 245px;
  overflow: hidden;
}
.v105_220 {
  width: 355px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 413px;
  left: 16px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v105_221 {
  width: 334px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 537px;
  left: 16px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v105_222 {
  width: 275px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1872px;
  left: 77px;
  font-family: Times;
  font-weight: Bold;
  font-size: 46px;
  opacity: 1;
  text-align: left;
}
.v105_242 {
  width: 254px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1957px;
  left: 32px;
  font-family: Times;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
  text-decoration: none
}
.v105_243 {
  width: 166px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2037px;
  left: 32px;
  font-family: Times;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
  text-decoration: none
}
.v105_244 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2117px;
  left: 32px;
  font-family: Times;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
  text-decoration: none
}
.v105_245 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2277px;
  left: 32px;
  font-family: Times;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
  text-decoration: none
}
.v105_246 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2197px;
  left: 32px;
  font-family: Times;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
  text-decoration: none
}
.v105_247 {
  width: 128px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2357px;
  left: 32px;
  font-family: Times;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
  text-decoration: none
}
.v105_259 {
  width: 113px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 628px;
  left: 158px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
  text-decoration: none;
}
